#keyboardcontainer {
    width: 350px;    
}

#keyboard {
    background: #eee;
    margin: 0;
    padding: 0;
    list-style: none;
}



#keyboard li {
    font: 100%/1.5 Verdana, Sans-Serif;
    float: left;
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;

    border: 1px solid #FF0000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#keyboard .deaditem {
    background: #f78fb3;
    border-color: #000000;
}

#keyboard .lastitem {
    margin-right: 11px;
    
}

#keyboard li:hover {
    position: relative;
    border-color: #000000;
    cursor: pointer;
}
