#letters {
    background: #eee;
    margin: 0;
    padding: 0;
    list-style: none;
}

#answerboard li {
    font: 24px Verdana, Sans-Serif;
    text-transform: uppercase;
    float: left;
    margin: 0 5px 5px 0;
    width:40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: rgba(255, 255, 255, 0.493);
    border: 1px solid rgba(0, 0, 0, 0.151);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#answer {
    background: #eee;
    margin: 0;
    padding: 0;
    list-style: none;
}



#wordboard li {
    font: 24px Verdana, Sans-Serif;
    text-transform: uppercase;
    float: left;
    margin: 0 5px 5px 0;
    width:40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #C0C0C0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#wordboard li.locked {
    border: 1px solid #FF0000;
    background: #A0A0A0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

